<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wumugulu.devtest.service.mail.mapper.MailNotifyMapper">

    <resultMap id="BaseResultMap" type="com.wumugulu.devtest.basedata.MailNotify">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="subject" column="subject" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="sendTimes" column="send_times" jdbcType="SMALLINT"/>
            <result property="lastSend" column="last_send" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,email,
        subject,content,status,
        send_times,last_send,create_time,
        update_time
    </sql>

    <insert id="myInsert" parameterType="com.wumugulu.devtest.basedata.MailNotify">
        insert into sys_mail_notify(
                    user_id, email, subject, content, status,
                    send_times, last_send, create_time
        )
            values(
                    #{userId}, #{email}, #{subject}, #{content}, #{status},
                    #{sendTimes}, #{lastSend}, #{createTime}
                  )
    </insert>

    <select id="myQuery" parameterType="string" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include>
            from sys_mail_notify
                <where>
                    <if test="keyword != null and keyword != ''">
                        and email like concat('%', #{keyword}, '%')
                    </if>
                </where>
                    order by last_send desc
    </select>
</mapper>
